*{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

#song-header{
    background-color: grey;
    height: 35vh;
    width: 100%;
}

#song-footer{
    position: fixed;
    padding-bottom: 10px;
    left: 0;
    bottom: 0;
    background-color: rgba(6, 49, 219, 0.966);
    width: 100%;
    height: 12vh;
}

.bottom-album-art{
    overflow: hidden;
    width: auto;
    height: 80%;
    padding: 15px 15px;
    
}

.top-album-art{
    overflow: hidden;
    width: auto;
    height: 80%;
    padding-left: 80px;
    padding-top: 2px; 

}

#more-songs{
    padding-left: 60px;
    padding-top: 25px;
    font-size: 1.2em;
}

.controls{
    overflow: hidden;
    padding: 10px;
    line-height: 5px;
    color: white;
    padding-left: 300px;
    padding-bottom: 30px;
    
}
.list{
    padding: 12px;
}


#playlist-details{
    padding: 10px;
    line-height: 5px;
    color: white;
    padding-left: 300px;

}


